<h2>Bands</h2>
<br>
<hr>
<h4>Bands you're tracking:</h4>
<% @bands.each() do |band| %>
<li><a href = "/band/<%= band.id() %>"><%= band.name() %></a></li>
<% end %>
<br>
<br>
<hr>
<h4>Add a Band:</h4>
<form action="/band" method="post">

  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Band</button>
</form>

<a href="/" class="back">Back</a>
